* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;

  margin-top: 21px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 20px;
  font-size: 1.2rem;
}

.search {
  padding: 10px;
}

.res-card {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin: 1rem;
  text-align: center;
}
.res-card h3 {
  margin-top: 10px;
}
